.clearfix::after{
    content:' ';
    display:table;
};

h1, body{
    margin:0;
}

ul{
    padding:0;
    margin:0;
}

body{
    background-color: #dddddd;
}

.wrapper{
    width: 300px;
    margin:100px auto;
    border-radius: 26px;
    box-shadow: 1px 1px 10px 3px #c6c6c6;
    background-color: #efefef;  

}

.bucketlist_header{
    padding-top:30px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 26px 26px 0 0;     
    border-bottom:solid 3px #dddddd;
    font-size:20px;
    color: #ff1493;
    
}


.bucketlist_contents{
    margin:20px;
}

.line1, .line2, .line3, .line4, .line5{
    margin:10px 0;
    padding:5px;
    color:#333333;
    border: solid 3px;
    border-color:#aaaaaa;
    border-radius: 3px;
    background-color: white;
    list-style: none;
    font-size:12px;
    font-weight: bold;  
}

.line2{
    color:#1e91ef;
    border-color:#1e91ef;
}

